header {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 1.9rem;
  width: 1.9rem;
  z-index: 20;
  background: url(../assets/code-solid.svg) no-repeat center;
}

.mobile_menu {
  height: 1.8rem;
  width: 1.8rem;
  z-index: 20;
  background: url(../assets/icon-hamburger.svg) no-repeat center;
}

.mobile_menu_open {
  height: 1.8rem;
  width: 1.8rem;
  z-index: 20;
  background: url(../assets/icon-close.svg) no-repeat center;
}
