@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background: black;
}

button {
  border: none;
  background: transparent;
}
